/* Articles */
article {
    padding: 15px;
    margin-bottom: 20px; /* Increased for more gap */
    border-left: 4px solid #004466;
    border-radius: 5px;
}

/* Article background colors by position */
article:nth-of-type(odd) {
    background-color: #d6f0ff; /* light blue */
}

article:nth-of-type(even) {
    background-color: #eaf7ff; /* even lighter blue */
}
article:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}
